<div class ="h-[40rem] overflow-y-auto">
<div class="bg-blue-400 h-80 flex items-center justify-center text-white ">
    <div>
      <h1 class="text-4xl font-bold mb-4">Welcome to Clinic Management</h1>
      <p class="text-lg">Manage your appointments efficiently with our comprehensive management system</p>
    </div>
  </div>
  
  <div class="flex justify-center mt-10 mb-5">
    <div class="grid grid-cols-3 gap-8">
      <div class="text-center">
        <img class="w-70 h-40 mx-auto rounded-lg shadow-lg" src="https://clinic-managment.s3.eu-west-3.amazonaws.com/benyamin-bohlouli-e7MJLM5VGjY-unsplash.jpg" alt="Feature 1">
        <h3 class="text-xl font-semibold mt-4">Feature 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      
      <div class="text-center">
        <img class="w-70 h-40 mx-auto rounded-lg shadow-lg" src="https://clinic-managment.s3.eu-west-3.amazonaws.com/marcelo-leal-k7ll1hpdhFA-unsplash.jpg" alt="Feature 2">
        <h3 class="text-xl font-semibold mt-4">Feature 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      
      <div class="text-center">
        <img class="w-70 h-40 mx-auto rounded-lg shadow-lg" src="https://clinic-managment.s3.eu-west-3.amazonaws.com/national-cancer-institute-NFvdKIhxYlU-unsplash.jpg" alt="Feature 3">
        <h3 class="text-xl font-semibold mt-4">Feature 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>
</div>






